---
import data from "@/data/config";
const { siteInfo } = data;
const today = new Date();
---

<footer class="Footer">
	<div class="Container">
		<p>{siteInfo.name} - {today.getFullYear()}.</p>
	</div>
</footer>

<script>
	import "@/scripts/menu";
</script>
<style lang="scss">
	.Footer {
		background-color: var(--ui-black);
		display: flex;
		justify-content: center;
	}
</style>
