@import "node_modules/normalize.css";

:root {
  --ui-accent: #ff8640;
  --ui-dark-background: #535353;
  --ui-light-orange: #ff9f68;
  --ui-typography: "Montserrat Variable", sans-serif;
  --ui-yellow: #fff780;
  --ui-green: #c4fdffº;
  --ui-green: #7adc8f;
  --ui-dark-green: #189e5f;
  --ui-white: #f3f3f3;
  --ui-black: #1d1d1d;
  --ui-light-purple: #a688ff;
  --ui-blue: #1b3be5;
  --ui-light-blue: #7b90fc;
  --padding-sm: .5em;
  --padding-md: 1em;
  --padding-l: 1.5em;
  --padding-xl: 2em;
  --shadow-titles: 4px 4px 0 rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  transition: all ease-in-out .2s;
}

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 17px;
  line-height: 1.6;
  background-color: var(--ui-dark-background);
  color: var(--ui-light-text-color);
  font-family: var(--ui-typography);
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding-top: 70px;
}

main {
  flex: 1;
  padding-bottom: 3em;
}

.Container {
  display: inherit;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  flex: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  align-items: inherit;
  padding: 0 1em;
  gap: inherit;
  grid-auto-rows: inherit;
  grid-template-columns: inherit;
  grid-auto-flow: inherit;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--ui-accent);
}

a:hover {
  color: var(--ui-accent);
}

img {
  max-width: 100%;
  height: auto;
}

.DarkGreen {
  background-color: var(--ui-dark-green);
}

.Green {
  background-color: var(--ui-green);
}

.Yellow {
  background-color: var(--ui-yellow);
}

.Blue {
  background-color: var(--ui-blue);
}

.LightBlue {
  background-color: var(--ui-light-blue);
}

.Purple {
  background-color: var(--ui-light-purple);
}

.Orange {
  background-color: var(--ui-accent);
}

.LightOrange {
  background-color: var(--ui-light-orange);
}

.Tag {
  background-color: var(--ui-accent);
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.2em 0.7em;
  border-radius: 25px;
  border: solid 1px var(--ui-black);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.shadow-titles {
  text-shadow: var(--shadow-titles);
}

.Button {
  border: solid 2px var(--ui-black);
  border-radius: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--ui-black);
  font-weight: 500;

  &:hover {
    background-color: var(--ui-black);
    color: var(--ui-white);
  }
}

.Button-sm {
  padding: 0.5em 1em;
  font-size: 0.6rem;
}

.Button-md {
  padding: 0.5em 1em;
  font-size: 0.8rem;
}

.Button-l {
  padding: 0.5em 2.5em;
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin: .5rem 0 2rem;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .Container {
    padding: 1em;
  }
}