---
import PagesLayout from "@/layouts/PagesLayout.astro";
import WhatsAppLg from "@/components/social-icons/WhatsAppLg.astro";
---

<PagesLayout
	image="/screenshot.png"
	title="Contáctanos"
	description="Perasconharina - Páginas Web Económicas. Contáctanos y consulta sobre nuestra asesoría gratuita para seleccionar el mejor plan para ti">
	<div class="Container">
		<h1>Contacto</h1>
		<p>
			Escríbenos directamente vía WhatsApp. Solo da click en el ícono de abajo y
			te orientaremos en todo el proceso:
		</p>

		<a href="https://wa.me/946342437"> <WhatsAppLg /> </a>
	</div>
</PagesLayout>
