---
import PagesLayout from "@/layouts/PagesLayout.astro";
import WhatsAppLg from "@/components/social-icons/WhatsAppLg.astro";
---

<PagesLayout
	title="Contacto - Perasconharina"
	description="Escríbenos directamente vía WhatsApp y te asesoraremos para elegir el mejor plan"
	image="/screenshot.png">
	<div class="Container">
		<h1>Contacto</h1>
		<p>
			Escríbenos directamente vía WhatsApp. Solo da click en el ícono de abajo y
			te orientaremos en todo el proceso:
		</p>

		<a href="https://wa.me/946342437"> <WhatsAppLg /> </a>
	</div>
</PagesLayout>
