---
import SEO from "@/components/shared/SEO.astro";
import Header from "@/components/shared/Header.astro";
import Footer from "@/components/shared/Footer.astro";

interface LayoutProps {
	seo: {
		title: string;
		description: string;
		keywords?: string[];
		author?: string;
		canonicalUrl?: string;
		ogType?: string;
		ogTitle?: string;
		ogDescription?: string;
		ogImage?: string;
		twitterCard?: string;
		twitterTitle?: string;
		twitterDescription?: string;
		twitterImage?: string;
	};
}

const { seo }: LayoutProps = Astro.props;
---

<!doctype html>
<html lang="es-CL">
	<head>
		<SEO {...seo} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
